@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("./fonts/Roboto-Thin.ttf");
}

body
{
    font-family: "Roboto-Regular";
    /* height: 100dvh; */
    margin: 0;
    padding: 0;
}

h1, h2, h3
{
    padding: 0;
    margin: 0;
}

/* Padding for all containers */
.container-padding
{
    padding: 20px 200px 100px 200px;
}

/* All containers */
.container-all
{
    /* height: 100dvh; */

    display: flex;
    flex-direction: column;
}

/* Parent Containers #1 & #2 */
.header,
.hero
{
    background: #1F2937;
    color: #F9FAF8;
    /* flex-grow: 1; */
}

/* Parent Container #1 */
.header
{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    padding-top: 25px;
    font-family: "Roboto-Bold";

    display: flex;
    justify-content: space-between;
}

.header li
{
    font-family: "Roboto-Thin";
    display: flex;
    gap: 25px;
}

/* All images */
img
{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
}

/* Parent Container #2 */
.hero-container
{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    /* margin: 0; */
    
}

.hero
{
    /* border: 3px solid green; */
    padding-right: 7%;
    /* padding-right: 80px; */
    margin: 0;
}

.hero-text
{
    font-family: "Roboto-Bold";
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-desc
{
    font-family: "Roboto-Thin";
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    padding-right: 0px;
}

.hero-container button
{
    background-color: #3882F6;
    font-size: larger;
    color: white;
    border-radius: 12px;
    border-style: none;
    padding: 10px 40px 10px 40px;
}

.hero-img
{
    background-color: #1F2937;
    /* border: 3px solid orange; */

    padding-left: 0px;
}

a,
li
{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;

    display: flex;
    gap: 20px;
}

.hero-container
{
    display: flex;
}

.content-header
{
    font-family: "Roboto-Bold";

    display: flex;
    justify-content: center;
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
}

.content img
{
    border-radius: 5%;
}

.quote
{
    background-color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-shrink: 1; */

}

.footer
{

}

