/* Custom fonts */
@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("./fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("./fonts/Roboto-LightItalic.ttf");
}

/* Set body font-family and reset margin and padding */
body
{
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 0;
}

/* Set padding and margin to 0 */
h1, h2, h3, h4, p
{
    padding: 0;
    margin: 0;
}

/* Set default padding for all containers */
.container-padding
{
    padding: 20px 200px 100px 200px;
}

/* All containers; top-to-bottom */
.container-all
{
    display: flex;
    flex-direction: column;
}

/* Header and Hero containers */
.header,
.hero
{
    background: #1F2937;
    color: #F9FAF8;
}

/* Header container */
.header
{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    padding-top: 25px;
    font-family: "Roboto-Bold";

    display: flex;
    justify-content: space-between;
}

/* Header links */
.header li
{
    font-family: "Roboto-Thin";
    display: flex;
    gap: 25px;
}

/* Header links styling */
a,
li
{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;

    display: flex;
    gap: 20px;
}

/* Reset all image tag's margin and padding */
img
{
    margin: 0;
    padding: 0;
}

/* Hero parent container */
.hero-container
{
    display: flex;
    flex-direction: row;
    
}

/* Hero child container */
.hero
{
    padding-right: 7%;
    margin: 0;
}

/* Hero header */
.hero-text
{
    font-family: "Roboto-Bold";
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

/* Hero secondary text */
.hero-desc
{
    font-family: "Roboto-Thin";
    font-size: 18px;
    color: #E5E7EB;
    margin-top: auto;
    margin-bottom: 10px;
    padding-right: 0px;
}

/* Hero sign-up button */
.hero-container button
{
    background-color: #3882F6;
    font-size: larger;
    color: white;
    border-radius: 12px;
    border-style: none;
    padding: 10px 40px 10px 40px;
}

/* Hero image */
.hero-img
{
    background-color: #1F2937;
    padding-left: 0px;
}

/* Content header */
.content-header
{
    font-family: "Roboto-Bold";
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;

    display: flex;
    justify-content: center;
}

/* Content container to center as column and create gaps */
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Round out image container corners */
.content img
{
    border-radius: 5%;
}

/* Align the content images */
.img-container
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Subtext container */
.subtext
{
    font-family: "Roboto-Thin";
    font-size: 22px;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    width: 210px;
    text-align: center;
}

/* Quote container */
.quote
{
    font-family: "Roboto-LightItalic";
    background-color:#e5e7eb;
    font-size: 36px;
    padding: 150px 350px 150px 350px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Author container */
.author
{
    font-family: "Roboto-Bold";
    font-size: 25px;
    padding-right: 30px;
}

/* Call-to-action container (outer) */
.cta-container
{
    margin: 100px;
    display: flex;
    justify-content: center;
}

/* Call-to-action container (inner) */
.cta
{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    width: 75%;
    padding: 60px 100px 60px 100px;

    display: flex;
    justify-content: space-between;
    gap: 5px;
}

 /* Call-to-action container to style as column */
.cta-col
{
    display: flex;
    flex-direction: column;
}

/* Call-to-action header */
.cta-header
{
    font-family: "Roboto-Bold";
    font-size: 25px;
    padding-left: 2px;
}

/* Call-to-action secondary text */
.cta-desc
{
    font-family: "Roboto-Thin";
    font-size: 20px;
}

/* Call-to-action sign-up button */
.signup button
{
    background-color: #3882F6;
    font-size: larger;
    color: #F9FAF8;
    border-radius: 12px;
    border-style: none;
    border: 2px solid #F9FAF8;
    padding: 10px 40px 10px 40px;
    margin-right: 70px;

}

/* The Odin Project footer */
.footer
{
    font-family: "Roboto-Thin";
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

