body, html
{
    font-family: "Roboto";
    height: 100dvh;
    margin: 0;
    padding: 10px 50px 0px 50px;
}

.container-all
{
    

    display: flex;
    flex-direction: column;
}

.header,
.hero
{
    background-color: #1F2937;
    color: white;
}

.header
{
    color: white;
    font-weight: 900;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

a,
li
{
    color: grey;
    text-decoration: none;
    list-style: none;

    display: flex;
    gap: 10px;
}

